// color

$black: #100E0E;
$prime: #0071E4;
$light: #B7B7B7;
$lightGrey: #F9F9F9;
$whiteGrey: #E7E7E7;
$dimGrey: #706E6E;
$dimNavy: #585656;
$darkNavy: #282626;
$iconLigth: #CCCCCC;
$lightPriem: #2A93FD;
$yellow: #FDEFBF;
$white: #FFF;
$green: #52D116;
$greenSpace: #46C609;
$blackSpace: #000;
$dimLight: #5E556B;
$primeLight: #D0EAFC;
$blackMono: #1E3240;
$whiteMono: #FEFEFE;
$greenNew: #6FD91C;
$dimSpace: #878787;
$whiteSpace: #dbdbdb;




// font

$font2: SF Pro Display